{{!< default}}
<div class="main-content">
  <div class="hero-container about-page" style="background-image: url('http://res.cloudinary.com/dfjtnd0ht/image/upload/c_scale,h_736/v1514481635/beocfokaaybs9txtwfaj.png')">
    <div class="hero-content">
      <h1>
        HAKKIMIZDA
      </h1>
      <div class="hero-subtext">
        1994’ten beri Türkiye’nin ilk ve tek yerli sayaç sağlayıcısı
      </div>
    </div>
  </div>
  <div class="about-us-content-container">
    <div class="about-us-text">
      <p>İMA Bilgi Sistemleri San. ve Ticaret Ltd. Şti. Mart 1994'te faaliyetine başlamıştır. Genel olarak aşağıda sıralanan faaliyet alanlarında müşteri ihtiyaçlarına uygun anahtar teslimi çözüm üretme, yazılım, danışmanlık ve teknik destek hizmetleri sunmaktadır.</p>
      <p>Türk Mühendis ve Teknik elemanlarınca tamamen yerli üretim olarak, geniş kullanım amaçlı tasarlanan ve geliştirilen İMA E3250 serisi El Terminalleri, açık hava ve arazide, her türlü zor çalışma koşullarında yüksek güvenilirlikle kullanılabilen, elde taşınabilen ürünlerdir. Bu cihazlar Elektrik, Su, Doğalgaz Abone Sistemleri ile Sipariş Toplama Sistemleri, Endüstriyel ve Bilimsel Uygulamalarda verilerin toplanması ve bilgisayar ortamına aktarılması gibi gereksinimler için idealdir.</p>
      <p>İMA El Terminallerimiz, kullanıcı isteğine uygun klavye tasarımı, geniş Türkçe ekranı, su ve toza karşı dayanıklı ABS kutusuyla her kesimden insanın kolaylıkla kullanabileceği cihazlardır.</p>
      <p>İMA Bilgi Sistemlerinin uzman kadrosu, kesintisiz ve hızlı donanım ve yazılım desteği ile çalışma yaşamınızda sorunsuz işlemler, net çözümler elde edeceksiniz.</p>
    </div>
    <div class="about-product-container">
      <h2>Neden bizimle çalışmalısınız</h2>
      <div class="about-product-icons-container">
        <div class="about-product-icon-container">
          <div class="about-product-icon" style="background-image: url('http://res.cloudinary.com/dfjtnd0ht/image/upload/c_scale,w_100/v1514500806/icon-recharge_ghxwdu.png')">
          </div>
          <h2 class="about-product-icon-header">
            Simply Rechargeable
          </h2>
          <div class="about-product-icon-description">
            Up to 4 weeks of battery life
          </div>
        </div>
        <div class="about-product-icon-container">
          <div class="about-product-icon" style="background-image: url('http://res.cloudinary.com/dfjtnd0ht/image/upload/c_scale,w_100/v1514500806/icon-recharge_ghxwdu.png')">
          </div>
          <h2 class="about-product-icon-header">
            Tamamen ihtiyacınıza uygun ürün
          </h2>
          <div class="about-product-icon-description">
            Up to 4 weeks of battery life
          </div>
        </div>
        <div class="about-product-icon-container">
          <div class="about-product-icon" style="background-image: url('http://res.cloudinary.com/dfjtnd0ht/image/upload/c_scale,h_100/v1514500806/icon-premium-support_wuubz7.png')">
          </div>
          <h2 class="about-product-icon-header">
            Premium Support
          </h2>
          <div class="about-product-icon-description">
            Up to 4 weeks of battery life
          </div>
        </div>
      </div>
    </div>
    <div class="activities-container">
      <div class="activities-text-container">
        <h2>
          Şirketimizin başlıca faaliyetleri
        </h2>
        <div class="activities-content">
          <p>İMA E3250 serisi El Terminallerinin ve Çevre Birimlerinin üretimi.</p>
          <p>Elektrik Dağıtım Müessese Müdürlükleri, Belediyeler ve Doğal Gaz Dağıtım Şirketlerinin sayaç okuma (endeks okuma), abone tahakkuk ve tahsilat sistemlerinde, el bilgisayarları ile bütünleşik yazıcıların kullanıldığı ABONE OKUMA SİSTEMLERİ'nin anahtar teslim gerçekleştirilmesi.</p>
          <p>İMA E3250 serisi El Terminallerinin kullanıldığı her türlü Veri Toplama Sistemleri, Sipariş Toplama Sistemleri, Barkod'lu Sayım ve Stok Sistemlerinin geliştirilmesi.</p>
          <p>Özel amaçlı güvenlik ve iletişim ihtiyaçlarına yönelik donanım ve yazılım geliştirilmesi.</p>
          <p>İMA E3250 serisi El Terminallerinin kullanıldığı her türlü Veri Toplama Sistemleri, Sipariş Toplama Sistemleri, Barkod'lu Sayım ve Stok Sistemlerinin geliştirilmesi.</p>
        </div>
      </div>
      <div class="activities-image">
      </div>
    </div>
    <div class="activities-cta-container">
      <div class="cta">
        BÜTÜN ÜRÜNLERİMİZ
      </div>
    </div>
  </div>
</div>
